/componentVersions/
/eval/
/inspection/

/options/*
!/options/code.style.schemes.xml
!/options/colors.scheme.xml
!/options/editor.codeinsight.xml
!/options/editor.xml
!/options/filetypes.xml
!/options/git.xml
!/options/keymap.xml
!/options/ui.lnf.xml

/quicklists/

port